<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name= "description" content= "Application web destinée aux enfants, adolescents et adultes souffrant d'autisme, de trouble du langage, de la communication et de l'attention" />
        <title>{% block title %}PictoPicto{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
            {#{{ encore_entry_link_tags('app') }}#}
        {% block stylesheets %}
        {% endblock %}
            <link rel="stylesheet" href="/css/bootstrap/bootstrap.css"  type="text/css">            
            <link rel="stylesheet" href="/css/fa/css/fontawesome.min.css">
            <link rel="stylesheet" href="/css/fa/css/all.css">
            <link rel="stylesheet" href="/css/bootstrap/icons/font/bootstrap-icons.css"  type="text/css">            
            <link rel="icon" type="favicon" href="{{ asset('img/LogoEcam.png') }}" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block script %}
        {% endblock %}
    </body>
    <script src="/js/bootstrap/bootstrap.js"></script>
</html>
